Source/CSharp/Expressive/.vs/Expressive/v14/.suo
Source/CSharp/Expressive/Expressive.Tests/bin/Debug/Expressive.Tests.dll
Source/CSharp/Expressive/Expressive.Tests/bin/Debug/Expressive.Tests.pdb
Source/CSharp/Expressive/Expressive.Tests/bin/Debug/Expressive.dll
Source/CSharp/Expressive/Expressive.Tests/bin/Debug/Expressive.pdb
Source/CSharp/Expressive/Expressive.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
Source/CSharp/Expressive/Expressive.Tests/bin/Release/Expressive.Tests.dll
Source/CSharp/Expressive/Expressive.Tests/bin/Release/Expressive.Tests.pdb
Source/CSharp/Expressive/Expressive.Tests/bin/Release/Expressive.dll
Source/CSharp/Expressive/Expressive.Tests/bin/Release/Expressive.pdb
Source/CSharp/Expressive/Expressive.Tests/bin/Release/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
Source/CSharp/Expressive/Expressive.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/CSharp/Expressive/Expressive.Tests/obj/Debug/Expressive.Tests.csproj.FileListAbsolute.txt
Source/CSharp/Expressive/Expressive.Tests/obj/Debug/Expressive.Tests.csprojResolveAssemblyReference.cache
Source/CSharp/Expressive/Expressive.Tests/obj/Debug/Expressive.Tests.dll
Source/CSharp/Expressive/Expressive.Tests/obj/Debug/Expressive.Tests.pdb
Source/CSharp/Expressive/Expressive.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/CSharp/Expressive/Expressive.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/CSharp/Expressive/Expressive.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Source/CSharp/Expressive/Expressive.Tests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Source/CSharp/Expressive/Expressive.Tests/obj/Release/Expressive.Tests.csproj.FileListAbsolute.txt
Source/CSharp/Expressive/Expressive.Tests/obj/Release/Expressive.Tests.csprojResolveAssemblyReference.cache
Source/CSharp/Expressive/Expressive.Tests/obj/Release/Expressive.Tests.dll
Source/CSharp/Expressive/Expressive.Tests/obj/Release/Expressive.Tests.pdb
Source/CSharp/Expressive/Expressive.Tests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/CSharp/Expressive/Expressive.Tests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/CSharp/Expressive/Expressive.Tests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Source/CSharp/Expressive/Expressive/bin/Debug/Expressive.dll
Source/CSharp/Expressive/Expressive/bin/Debug/Expressive.dll.CodeAnalysisLog.xml
Source/CSharp/Expressive/Expressive/bin/Debug/Expressive.dll.lastcodeanalysissucceeded
Source/CSharp/Expressive/Expressive/bin/Debug/Expressive.pdb
Source/CSharp/Expressive/Expressive/bin/Release/Expressive.dll
Source/CSharp/Expressive/Expressive/bin/Release/Expressive.pdb
Source/CSharp/Expressive/Expressive/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/CSharp/Expressive/Expressive/obj/Debug/Expressive.csproj.FileListAbsolute.txt
Source/CSharp/Expressive/Expressive/obj/Debug/Expressive.csprojResolveAssemblyReference.cache
Source/CSharp/Expressive/Expressive/obj/Debug/Expressive.dll
Source/CSharp/Expressive/Expressive/obj/Debug/Expressive.pdb
Source/CSharp/Expressive/Expressive/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/CSharp/Expressive/Expressive/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/CSharp/Expressive/Expressive/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Source/CSharp/Expressive/Expressive/obj/Release/DesignTimeResolveAssemblyReferences.cache
Source/CSharp/Expressive/Expressive/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Source/CSharp/Expressive/Expressive/obj/Release/Expressive.csproj.FileListAbsolute.txt
Source/CSharp/Expressive/Expressive/obj/Release/Expressive.csprojResolveAssemblyReference.cache
Source/CSharp/Expressive/Expressive/obj/Release/Expressive.dll
Source/CSharp/Expressive/Expressive/obj/Release/Expressive.pdb
Source/CSharp/Expressive/Expressive/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/CSharp/Expressive/Expressive/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/CSharp/Expressive/Expressive/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Source/CSharp/Expressive/.vs/Expressive
/Source/CSharp/Expressive/bin
/Source/CSharp/Expressive/Expressive/obj
/Source/CSharp/Expressive/Expressive.Playground/bin
/Source/CSharp/Expressive/Expressive.Playground/obj/Debug
/Source/CSharp/Expressive/Expressive.Playground/obj/Release/TempPE
/Source/CSharp/Expressive/Expressive.Playground/obj/Release
/Source/CSharp/Expressive/Expressive.Standard/.vs
/Source/CSharp/Expressive/Expressive.Standard/bin/Debug
/Source/CSharp/Expressive/Expressive.Standard/bin/Release/netstandard1.4
/Source/CSharp/Expressive/Expressive.Standard/bin/Release
/Source/CSharp/Expressive/Expressive.Standard/obj
/Source/CSharp/Expressive/Expressive.Tests/bin/Release
/Source/CSharp/Expressive/Expressive.Tests/obj/Debug
/Source/CSharp/Expressive/Expressive.Tests/obj/Release
/Source/CSharp/Expressive/Expressive.Tests.Standard/bin
/Source/CSharp/Expressive/Expressive.Tests.Standard/obj
/Source/CSharp/Expressive/GeneratedReports
/Source/CSharp/Expressive/Expressive.Playground.Extensions/bin/Debug
/Source/CSharp/Expressive/Expressive.Playground.Extensions/obj/Debug
/Source/CSharp/Expressive/Expressive.Tests/bin/Debug
/Source/CSharp/Expressive/packages
/Source/CSharp/Expressive/nuget-package
/Source/CSharp/Expressive/.vs/config/applicationhost.config
